{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Alert and Alarm Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'data_reporter/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'data_reporter/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'data_reporter/css/index.css' %}">

    <script type="text/javascript" language="javascript" src="{% static 'data_reporter/js/jquery.min.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'data_reporter/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'data_reporter/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'data_reporter/js/dataTables.bootstrap.min.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'data_reporter/js/index.js' %}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-bullhorn" style="color: red"></i> Alarm
                    and Alert</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            {% for disease in diseases %}
                <li {% ifequal active disease.name %} class="active" data-disease-id="{{ disease.id }}" {% endifequal %}>
                    <a href="{% url 'data-reporter:disease' disease.id %}">{{ disease.name }}
                        <span class="badge pull-right">{{ disease.human_cases.count }} | {{ disease.animal_cases.count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#human-cases-tab" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Human</a>
            </li>
            <li>
                <a href="#animal-cases-tab" data-toggle="tab"><i class="glyphicon glyphicon-knight"></i> Animal</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="human-cases-tab">
                <table id="human-cases-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Cases</th>
                        <th>Disease</th>
                        <th>District</th>
                        <th>Village</th>
                        <th>Report avg.</th>
                        <th>Hosp. avg.</th>
                        <th>Sampling avg.</th>
                        <th>Lab. avg.</th>
                        <th>Treatment avg.</th>
                        <th>Min Age</th>
                        <th>Max Age</th>
                        <th>Age avg.</th>
                        <th>Vaccination rate</th>
                        <th>Death rate</th>
                        <th>Recovery rate</th>
                        <th>Sequela rate</th>
                        <th>Attack rate</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="animal-cases-tab">
                <table id="animal-cases-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Cases</th>
                        <th>Disease</th>
                        <th>District</th>
                        <th>Village</th>
                        <th>Morbidity rate</th>
                        <th>Mortality rate</th>
                        <th>Fatality rate</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>